.hotspot {
    transform-origin: center center;
    cursor: pointer;
    

    // &:hover {
    //     animation-play-state: paused;
    // }
    &.is-animated
    {
        animation: scaleAnimation 2s infinite; 
        
        @include breakpoint(max, small) {
            animation: scaleAnimationMobile 2s infinite;
        }

        @keyframes scaleAnimation {
            0% {
                transform: scale(1);
                
            }
            50% {
                transform: scale(1.3);
            }
            100% {
                transform: scale(1);
            }
        }

        @keyframes scaleAnimationMobile {
            0% {
                transform: scale(0.6);
                
            }
            50% {
                transform: scale(0.8);
            }
            100% {
                transform: scale(0.6);
            }
        }
    }

    @include breakpoint(max, small) {
        transform: scale(0.6);
    }

    

    
}




.hotspot2 { left: 7%; top: 12%; @include breakpoint(max, small) { left: 3%; top: 3%; }}
.hotspot1 { left: 14%; top: 6%; @include breakpoint(max, small) { left: 11%; top: 1%; }}
.hotspot3 { left: 16%; top: 48%; @include breakpoint(max, small) { left: 14%; top: 46%; }}
.hotspot4 { left: 19%; top: 23%; @include breakpoint(max, small) { left: 16%; top: 18%; }}
.hotspot5 { left: 27%; top: 14%; @include breakpoint(max, small) { left: 26%; top: 14%; }}
.hotspot6 { left: 28%; top: 35%; @include breakpoint(max, small) { left: 25%; top: 48%; }}

.hotspot7 { left: 39%; top: 3%; @include breakpoint(max, small) { left: 36%; top: 3%; }}
.hotspot8 { left: 40%; top: 29%; @include breakpoint(max, small) { left: 38%; top: 29%; }}
.hotspot9 { left: 52%; top: 7%; @include breakpoint(max, small) { left: 49%; top: 3%; }}
.hotspot10 { left: 59%; top: 12%; @include breakpoint(max, small) { left: 57%; top: 8%; }}
.hotspot11 { left: 50%; top: 39%; @include breakpoint(max, small) { left: 47%; top: 55%; }}
.hotspot12 { left: 36%; top: 50%; @include breakpoint(max, small) { left: 34%; top: 45%; }}

.hotspot13 { left: 29%; top: 64%; @include breakpoint(max, small) { left: 27%; top: 60%; }}
.hotspot14 { left: 20%; top: 84%; @include breakpoint(max, small) { left: 17%; top: 82%; }}
.hotspot15 { left: 33%; top: 90%; @include breakpoint(max, small) { left: 31%; top: 87%; }}

.hotspot16 { left: 74%; top: 40%; }

.encadre {border-radius: 19px;}

.jBox-wrapper
{

    &::before { box-shadow: 0 0 5px rgba(0,0,0, 0); }
    
    .jBox-container
    {
        
        font-family: Poppins;
        box-shadow: 0 0 5px rgba(0,0,0, 0);
        border: 0;
        border-radius: 5px;

        @include breakpoint(max, small) { font-size: 14px; }

        .jBox-content
        {
            background: rgb(253 224 71);
            border: solid 1px black;
            border-radius: 5px;
            color: black;
        }

        .jBox-closeButton
        {
            background: rgb(253 224 71) !important;
            //border: solid 2px black;

            svg path { fill: rgba(0, 0, 0, 0.416); }
           
        }
    }

    .jBox-pointer
    {
        bottom: 1px;
    }

    .jBox-pointer::after
    {
        background: #FFE293;
        box-shadow: 0 0 5px rgba(0,0,0, 0);
        //bottom: -1px;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }
}

.content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px; 
    width: 100%;
  }
  

  
  .card {
    display: block;
    color: inherit;
    //cursor: pointer;
    width: 375px;
    min-width: 375px;
    height: 525px;
    min-height: 525px;
    perspective: 1000px;
    margin: 1rem;
    position: relative;

    @include breakpoint(max, small) {
        width: 100%;
        min-width: 100%;

        height: 480px;
        min-height: 480px;
    };

    // @include breakpoint(max, 1000px) {
    //     display: none !important;
    
    // };

    .card-bg 
    {
        
    }

    .card-frame
    {
        border-radius: 19px;
    }

   
  

   
  }
  
  .front,
  .back {
    display: flex;
    border-radius: 19px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 300ms;
    z-index:1;
    // overflow: hidden;
  }


.front {
    background-size: cover;
    // background-blend-mode: overlay;
    padding: 2rem;
   
    overflow: hidden;
    font-family: Poppins, sans-serif;
    &:before {
      position: absolute;
      display: block;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    //background: linear-gradient(to bottom, black 0%, transparent 50%);
      opacity: .6;
      z-index: -1;
    }


    .card-bg
    {
        
    }
    // .card:hover & {
    //   transform: rotateY(180deg);
    // }
    // .card:nth-child(even):hover & {
    //   transform: rotateY(-180deg);
    // }
  }
  
  .back {
    background: gray;
    transform: rotateY(180deg);
    padding: 0 2em;
  
    
    // .card:hover & {
    //   transform: rotateY(0deg);
    // }
    
    // .card:nth-child(even) & {
    //   transform: rotateY(180deg);
      
    
    // }
    
    // .card:nth-child(even):hover & {
    //   transform: rotateY(0deg);
    // }
  }
  
  
// {
//     height: 10vh;
// }
.card.is-flipped .front
{
    transform: rotateY(-180deg);
}

.card.is-flipped .back
{
    transform: rotateY(0deg);
}

.maire 
{
    background-image: url('../img/this/hanotin.jpg');
    background-position: center top;
    background-size: cover;
}

.card
{
    width: 80px;
    height: 80px;
    background: transparent;
}

.video-js { background: transparent !important;}
.video-wrapper
{
    //les class tailwind sont strip à l'initialisation de videojs
    video
    {
        object-fit: cover;
        width: 100%;
        height: 100%;
        //position: absolute;
    }

   
}
.hero 
{ 
    background:transparent; 
    //height: 80vh;

    //background: url('../img/this/_main3.jpg'); 
    background-size: cover;
    background-position: center center !important;

    @include breakpoint(min, medium) {
        //height: auto;
        //height: 80vh;
    };

    svg#opening
    {
        
        position: absolute;
        width: 110%;
        height: auto;
        right: 13%;
        bottom: 0;
        max-height: 90%;

        //top: 50px;
       
        @include breakpoint(min, medium) {
            position: absolute;
            width: 610px;
            height: auto;
            right: 50px;
            bottom: 0;
            max-height: 90%;

            //top: auto;
        };

    }

    .herochild
    {
        background-image: url('../img/this/_main3.jpg');
        background-size: auto 100%;
        background-position: 20% bottom;
    }

}
.hero .video-wrapper video { position: absolute; }
// .vjs-control-bar { display: none !important; }
.player1-dimensions, .player2-dimensions, .player3-dimensions, .player4-dimensions { width: 100%; height: 100%;}

// .opening-left
// {
//     width: 100vw;
//     max-width: 100vw;
//     left: calc(100vw - 672px) !important;
// }
.opening-left, .opening-right
{
    width: 113% !important;
    max-width: 10000px;

    @include breakpoint(min, small) {
        width: 108% !important;
    };

    @include breakpoint(min, medium) {
        width: 105% !important;
    };

    @include breakpoint(min, large) {
        width: 103% !important;
    };
    
}

.gradient
{
    background: linear-gradient(to bottom, black 0%, transparent 50%);
    //background: radial-gradient(ellipse at center, transparent 0%, black 100%);
    opacity: .5;
}

.menu_overlay
{
    opacity: 0;
    visibility: hidden;
    transition: all .2s;

    &.is-visible 
    {
        opacity: .5;
        visibility: visible;
        transition: all .2s;
    }
}

.heading
{
    background: #A7A879;
    //border-radius: 80px;
    //box-shadow: -40px 33px 76px #00000039;
    //height: 500px;
    // figure 
    // {
    //     border-radius: 80px;
    //     box-shadow: -40px 33px 76px #00000039;
    // }
}
.anim-container
{
    //height:80vh;
}
.anim
{
    background:#FFFBED;
}

footer
{
    //height: 100vh;
    background:#202124;
}

.frame { background: $colorFrame; }

.hero figure { background:transparent; }

// figure ul 
// {
//     border-left: 40px solid #A7A879;
//     font-weight: 300;
//     //height:10px;

//     li 
//     {
//         padding-left: 40px;
//     }
// }

.color 
{
    background: $colorFrameLight;
    //overflow: hidden;
}

.color-gradient
{
    background: transparent linear-gradient(60deg, #abd5d4 0%, #EDFFFF 100%) 0% 0% no-repeat padding-box;
}

.parallax
{
    aspect-ratio: 16/8;

    
}

#parallax1 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

#parallax2 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

#parallax3 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

#parallax4 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

#parallax5 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

img.miniheader-img
{
    //max-height: 345px;
    height: 250px;
    left: 75%;
    top: 0%;
    //min-height: 327px;

    @include breakpoint(min, medium) {
        height: 150%;
        top: 50%;
        left: 75%;
        transform: translateY(-50%); 
        max-height: 542px;
    };
}

// #title2 .miniheader-img
// {
//     left: 68%;

//     @include breakpoint(min, medium) {
//         left: 75%;
//     };
// }

#title4 .miniheader-img
{
    height: 110%;

    @include breakpoint(min, medium) {
        max-height: 542px;
    };
}

// .jBox-wrapper
// {

//     &::before { box-shadow: 0 0 5px rgba(0,0,0, 0); }
    
//     .jBox-container
//     {
//         font-size: 16px;
//         font-family: Roboto mono;
//         box-shadow: 0 0 5px rgba(0,0,0, 0);
//         border: 0;

//         .jBox-content
//         {
//             background: $colorFrame;
//             color: rgba(0, 0, 0, .5);
//         }

//         .jBox-closeButton
//         {
//             background: $colorFrame !important;

//             svg path { fill: rgba(0, 0, 0, .5); }
           
//         }
//     }

//     .jBox-pointer::after
//     {
//         background: $colorFrame;
//         box-shadow: 0 0 5px rgba(0,0,0, 0);
//     }
// }

.tag
{
    margin-bottom: 5px;
    line-height: 1;

    @include breakpoint(min, medium) {
        margin-bottom: 5px;
        line-height: 1;
    };
}

.tag:hover
{
    
        background: darken($colorContrast2, 4%);
    
}


#btn1, #btn2, #btn3, #btn4, #btn-pass
{
    cursor: pointer;
    transition: all 0.2s;

    // &:hover
    // {
    //     transform: scale(1.1);
    //     transition: all 0.2s;
    // }
}

select
{
    font-family: Poppins !important;
}

.aspect-custom
{
    aspect-ratio: 25/9;
    //background: red;

    @include breakpoint(min, medium) {
        aspect-ratio: 32/9;
    };
}

// .md\:-mx-96
// {
//     margin-left: -28rem !important;
//     margin-right: -28rem !important;
// }


